---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/127.0.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 02 Dec 2015 07:06:47 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9997'
      X-Ratelimit-Reset:
      - '3594'
    body:
      encoding: UTF-8
      string: |
        {"ip":"127.0.0.1","country_code":"","country_name":"","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":0,"longitude":0,"metro_code":0}
  recorded_at: Sun, 27 Dec 2015 20:29:38 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/e319c8f9426bc133/conditions/q/Massachusetts/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.058'
      Last-Modified:
      - Sun, 27 Dec 2015 20:29:14 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boston, MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.37046814\",\n\t\t\"longitude\":\"-71.02747345\",\n\t\t\"elevation\":\"6.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"North End waterfront Boston, Boston, Massachusetts\",\n\t\t\"city\":\"North
        End waterfront Boston, Boston\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.365311\",\n\t\t\"longitude\":\"-71.051521\",\n\t\t\"elevation\":\"39
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMABOSTO124\",\n\t\t\"observation_time\":\"Last
        Updated on December 27, 3:29 PM EST\",\n\t\t\"observation_time_rfc822\":\"Sun,
        27 Dec 2015 15:29:08 -0500\",\n\t\t\"observation_epoch\":\"1451248148\",\n\t\t\"local_time_rfc822\":\"Sun,
        27 Dec 2015 15:29:14 -0500\",\n\t\t\"local_epoch\":\"1451248154\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Overcast\",\n\t\t\"temperature_string\":\"49.6
        F (9.8 C)\",\n\t\t\"temp_f\":49.6,\n\t\t\"temp_c\":9.8,\n\t\t\"relative_humidity\":\"90%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"SE\",\n\t\t\"wind_degrees\":138,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1007\",\n\t\t\"pressure_in\":\"29.74\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"47
        F (8 C)\",\n\t\t\"dewpoint_f\":47,\n\t\t\"dewpoint_c\":8,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"50
        F (10 C)\",\n\t\t\"windchill_f\":\"50\",\n\t\t\"windchill_c\":\"10\",\n\t\t\"feelslike_string\":\"50
        F (10 C)\",\n\t\t\"feelslike_f\":\"50\",\n\t\t\"feelslike_c\":\"10\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"12\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.27 in (7 mm)\",\n\t\t\"precip_today_in\":\"0.27\",\n\t\t\"precip_today_metric\":\"7\",\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/cloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMABOSTO124\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.365311,-71.051521\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Sun, 27 Dec 2015 20:29:39 GMT
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/technology.json?api-key=e73485455b749162847c8af01e987e54:2:73833966
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      X-Amz-Request-Id:
      - 260B2B0AEDA2C9F5
      Last-Modified:
      - Sun, 27 Dec 2015 20:25:19 GMT
      Etag:
      - '"fc9bcce41609fddb4fad5cdca15895bf"'
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2015 The New York Times Company.
        All Rights Reserved.","section":"technology","last_updated":"2015-12-27T15:25:07-05:00","num_results":30,"results":[{"section":"Technology","subsection":"","title":"A
        Surgery Center That Doubles as an Idea Lab","abstract":"At a Memorial Sloan
        Kettering outpatient surgery center in Manhattan, innovations include data
        tracking and other techniques to improve care, but some worry about transparency.","url":"http:\/\/www.nytimes.com\/2015\/12\/27\/technology\/a-surgery-center-that-doubles-as-an-idea-lab.html","byline":"By
        NATASHA SINGER","item_type":"Article","updated_date":"2015-12-26T13:34:58-5:00","created_date":"2015-12-26T13:35:05-5:00","published_date":"2015-12-27T00:00:00-5:00","material_type_facet":"News","kicker":"","des_facet":["Hospitals","Data-Mining
        and Database Marketing","Innovation"],"org_facet":["Memorial Sloan-Kettering
        Cancer Center"],"per_facet":["Brett A. Simon"],"geo_facet":"","multimedia":[{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/27\/business\/27TECHNO\/27TECHNO-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"Dr.
        Brett A. Simon, the director of Memorial Sloan Kettering Cancer Center&rsquo;s
        new Josie Robertson Surgery Center, says innovative technology and work flows
        make the center &ldquo;a learning lab for new systems.&rdquo;","copyright":"Bryan
        Thomas for The New York Times"},{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/27\/business\/27TECHNO\/27TECHNO-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":[...]
[...]
- request:
    method: get
    uri: http://api.seatgeek.com/2/events?datetime_local.gte=2015-12-27&venue.city=Boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"69df2ad57d6977e207c4863993ba4fb49a61328f"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"per_page":10,"total":1173,"page":1,"geolocation":null},"events":[{"links":[],"id":2636941,"stats":{"listing_count":25,"average_price":75.0,"lowest_price_good_deals":29.0,"lowest_price":29.0,"highest_price":95.0},"title":"Disney
        On Ice - Boston","announce_date":"2015-06-02T00:00:00","score":0.54291,"date_tbd":false,"type":"family","datetime_local":"2015-12-27T12:00:00","visible_until_utc":"2015-12-27T21:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"},{"parent_id":3000000,"id":3050000,"name":"family"}],"performers":[{"stats":{"event_count":746},"name":"Disney
        On Ice","short_name":"Disney On Ice","url":"https://seatgeek.com/disney-on-ice-tickets","type":"theater","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/disney-on-ice-ff58f7/5908/huge.jpg","home_venue_id":null,"primary":true,"score":0.42633,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/disney-on-ice-ff58f7/5908/huge.jpg"},"slug":"disney-on-ice","taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"has_upcoming_events":true,"id":5908},{"stats":{"event_count":116},"name":"Disney
        On Ice: Treasure Trove","short_name":"Disney On Ice: Treasure Trove","url":"https://seatgeek.com/disney-on-ice-treasure-trove-tickets","type":"theater_family","image":null,"home_venue_id":null,"slug":"disney-on-ice-treasure-trove","score":0.43528,"images":{},"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"},{"parent_id":3000000,"id":3050000,"name":"family"}],"has_upcoming_events":true,"id":18466},{"stats":{"event_count":163},"name":"Disney
        On Ice: 100 Years of Magic","short_name":"Disney On Ice: 100 Years of Magic","url":"https://seatgeek.com/disney-on-ice-100-years-of-magic-tickets","type":"theater","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/disney-on-ice-100-years-of-magic-8b1fce/18482/huge.jpg","home_venue_id":null,"slug":"disney-on-ice-100-years-of-magic","score":0.46141,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/disney-on-ice-100-years-of-magic-8b1fce/18482/huge.jpg"},"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"has_upcoming_events":true,"id":18482}],"url":"https://seatgeek.com/disney-on-ice-boston-tickets/family/2015-12-27-12-pm/2636941/","created_at":"2015-06-02T00:00:00","venue":{"city":"Boston","name":"Agganis
        Arena","extended_address":"Boston, MA 02215","url":"https://seatgeek.com/venues/agganis-arena/tickets/","country":"US","display_location":"Boston,
        MA","links":[],"slug":"agganis-arena","state":"MA","score":0.64567,"postal_code":"02215","location":{"lat":42.3514,"lon":-71.1177},"address":"925
        Commonwealth Ave","timezone":"America/New_York","id":952},"short_title":"Disney
        On Ice - Boston","datetime_utc":"2015-12-27T17:00:00","datetime_tbd":false},{"links":[],"id":2809435,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Disney
        On Ice: 100 Years of Magic - Boston","announce_date":"2015-09-09T00:00:00","score":0.53783,"date_tbd":false,"type":"theater","datetime_local":"2015-12-27T12:00:00","visible_until_utc":"2015-12-27T21:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"performers":[{"stats":{"event_co[...]
